body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 50px;
  height: auto;
  /* #875128, #601B32, #4C0A38, #3D0115, #000000 - Adobe Memento Mori palette*/
  background: -webkit-linear-gradient(top, rgb(135, 21, 40) 0%, rgb(96, 27, 50) 25%, rgb(76, 10, 56) 50%, rgb(61, 1, 21) 75%, rgb(0, 0, 0) 100%);
  overflow-x: hidden;
  justify-content: left;
  align-items: left;
}

:root {
  /* Set neon color */
  --neon-text-color: #C36E82;
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  padding: 0.5rem 0.75rem 0.5rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  display: inline-block;
}

h2::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h2::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h2:focus {
  outline: none;
}

h3, h4, h5 {
  font-family: 'Jura', monospace;
  font-size: 1.5rem;
  color: #fff;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
    }

    20%, 25%, 55% {
        text-shadow: none;
    }
}

.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

.back-layer {
  z-index: -50;
  width: 1400px;
  fill: #1e2036;
  transform: scale(1);
  margin-bottom: -100px;
}

.middle-layer {
  z-index: -1;
  width: 1300px;
  fill: #403252;
  transform: scale(1);
  margin-bottom: -120px;
}

.front-layer {
  z-index: 100;
  width: 1200px;
  fill: #58466e;
  transform: scale(1);
  margin-bottom: -290px;
}
