#about {
  padding: 50px 100px 50px;
  background-color: #0b1014;
}

.about-content {
  font-size: 1.8rem;
  line-height: 1.3;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  #about {
    padding: 50px 60px 50px;
  }
  .about-content {
    font-size: 1.5rem;
  }
}
