#faq {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0b1014;
}

.faq-info {
  text-align: center;
}

.email {
  padding-left: 7px;
  color: #fd6df3;
}

.question, .answer {
  padding-left: 50px;
}

