#intro {
  width: 100vw;
  height: 100vh;
  margin-top: 70px;
  margin-bottom: -70px;
  background: linear-gradient(180deg, rgb(11,16,20) 80%, rgb(119,12,157) 100%);
}

.text-container {
  position: absolute;
  top: 25%;
  bottom: 75%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .text-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: -40px;
    justify-content: center;
    align-items: center;
  }
}

.date { margin-bottom: -20px; }

.location { text-align: left; }

@media screen and (max-width: 767px) {
  .location { text-align: center; }
}

/* Container for buttons */
.button-container {
  position: absolute;
  top: 43%;
  bottom: 57%;
  left: 49.3%;
  z-index: 2;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .button-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
  }
}

/* Pre-Register button */
.button1 {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.08em;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .button1 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

.button1 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.button1 svg rect {
  //stroke: #ec0033;
  stroke-width: 3;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.button1 span {
  background: rgb(255,130,130);
  background: -moz-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: linear-gradient(to top, rgba(155,125,255,1) 0%, rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b7de1', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button1:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 200, 550;
  stroke-dashoffset: 437;
}

/* Sponsors button */
.button2 {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.08em;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .button2 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.button2 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.button2 svg rect {
  //stroke: #ec0033;
  stroke-width: 3;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.button2 span {
  background: rgb(255,130,130);
  background: -moz-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: linear-gradient(to top, rgba(155,125,255,1) 0%, rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b7de1', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button2:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 200, 550;
  stroke-dashoffset: 437;
}

#logo {
  position: absolute;
  top: 15%;
  left: 1%;
  display: flex;
  width: 50vw;
}

@media screen and (max-width: 767px) {
  #logo {
    position: relative;
    top: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
}

#cityscape {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
