#intro {
  width: 100vw;
  height: 100vh;
  margin-top: 70px;
  margin-bottom: -70px;
  background: linear-gradient(180deg, rgb(11,16,20) 80%, rgb(119,12,157) 100%);
}

.text-container {
  position: absolute;
  top: 20%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date { margin-bottom: -20px; }

.location { text-align: left; }

/* Container for buttons */
.button-container {
  position: absolute;
  top: 40%;
  left: 49.3%;
  z-index: 2;
  display: inline-block;
}

/* Buttons */
.button1, .button2 {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.08em;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.button1 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.button1 svg rect {
  //stroke: #ec0033;
  stroke-width: 3;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.button1 span {
  background: rgb(255,130,130);
  background: -moz-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: linear-gradient(to top, rgba(155,125,255,1) 0%, rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b7de1', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button1:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 200, 550;
  stroke-dashoffset: 437;
}

.button2 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.button2 svg rect {
  //stroke: #ec0033;
  stroke-width: 3;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.button2 span {
  background: rgb(255,130,130);
  background: -moz-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(bottom, rgba(155,125,225,1) 0%, rgba(225,120,237,1) 100%);
  background: linear-gradient(to top, rgba(155,125,255,1) 0%, rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b7de1', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button2:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 200, 550;
  stroke-dashoffset: 437;
}

#logo {
  position: absolute;
  top: 15%;
  left: 1%;
  display: flex;
  width: 50vw;
}

#cityscape {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Media Queries */
@media screen and (max-width: 324px) {
  #intro { height: 90%; }

  .text-container {
    position: relative;
    top: -2rem;
    left: 10%;
    display: block;
    width: 80vw;
  }

  .date { margin-bottom: -1rem; }

  .location { text-align: center; }

  .button-container {
    position: relative;
    top: -3rem;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    position: relative;
    top: 0;
    display: block;
    width: 98vw;
  }

  #cityscape {
    position: relative;
    top: -4rem;
  }
}


/* Add navbar to each media query except 1024 */
@media screen and (min-width: 325px) and (max-width: 426px) {
  #intro { height: 90%; }

  .text-container {
    position: relative;
    top: -2rem;
    left: 10%;
    display: block;
    width: 80vw;
  }

  .date {
    margin-bottom: -1rem;
  }

  .location {
    text-align: center;
  }

  .button-container {
    position: relative;
    top: -3rem;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    position: relative;
    top: 0;
    display: block;
    width: 98vw;
  }

  #cityscape {
    position: relative;
    top: -4rem;
  }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  .text-container {
    position: relative;
    display: block;
    flex-direction: column;
    top: -2rem;
    left: 10%;
    width: 80vw;
  }

  .location { text-align: center; }

  .button-container {
    position: relative;
    top: -3rem;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    position: relative;
    top: 0;
    left: 25%;
    display: flex;
    width: 50vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .text-container {
    position: absolute;
    top: 15%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1365px) and (min-width: 1025px) {
  #logo {
    height: 50%;
  }

  #cityscape {
    height: 50%;
  }

  .button-container {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1366px) {
  #logo {
    height: 50%;
  }

  #cityscape {
    height: 50%;
  }
}
